.TasksContainer {
  background-color: rgba(255, 255, 255, 0.29);
  min-width: 270px;
  width: 50vw;
  height: 40vh;
  border-radius: 10px;

  .TasksHeader {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-left: 20px;
      color: white;
      font-family: Arial;
      font-size: clamp(20px, 5vw ,35px);
    }

    img {
      min-width: 20px;
      width: 5vw;
      max-width: 35px;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .TasksBody {
    height: 32vh;

    .TasksWrapper {

      overflow-y: auto;
      height: 32vh;
    }

    .Line {
      height: 3px;
      background-color: white;
    }

    .TaskContainer {
      background-color: rgba(255, 255, 255, 0.21);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5vh;

      .ImageContainer {
        display: flex;
        align-items: center;

        img {
          min-width: 15px;
          max-width: 25px;
          width: 3vw;
          margin-right: 20px;
          cursor: pointer;
        }

        .CloseTask {
          min-width: 12px;
          width: 2.5vw;
          max-width: 20px;
        }
      }


      p {
        margin-left: 20px;
        color: white;
        font-family: Arial;
        font-size: clamp(13px, 2.8vw ,18px);
      }
    }
  }

  .EmptyContainer {

    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-width: 60px;
      width: 5vw;
      max-width: 80px;
      margin-right: 40px;
    }

    p {
      color: white;
      font-family: Arial;
      font-weight: bold;
      font-size: clamp(20px, 4vw ,30px);

    }
  }
}