main {
    width: 100vw;
    height: 100vh;
    background-color: #BA4949;


    #DisplayContainer {

        height: 45vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #StartStopContainer {
        height: 10vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #TasksContainer {
        height: 45vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}