h3 {
  color: white;
  font-family: Arial;
  margin: 20px;
}

#inputSection {
  margin: 20px;
  label {
    font-size: 18px;
    font-family: Arial;
    color: white;
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 44vw;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    padding: 0px 10px;
  }

  #Description {
    margin-top: 20px;
  }

}
#CreateBody {
  button {
    margin-left: 20px;
  }

  #CancelButton {
    background-color: #BA4949;
    color: white;
  }
}
