.InputContainer {

  height: 21vh;
  margin: 0px 20px;

  label {
    margin-top: 20px;
    display: block;
    font-family: Arial;
    color: white;
    font-size: clamp(15px, 3vw ,20px);
    margin-bottom: 10px;

  }

  input {
    width: 95%;
    border: 0px;
    height: 3.5vh;
    padding-left: 15px;
    font-size: clamp(13px, 3vw ,17px);
    border-radius: 5px;
  }
}

.CreateTask {
  height: 7vh;
  display: flex;
  align-items: center;

  button {
    margin-left: 20px;
    border: 0px;
    cursor: pointer;
    background-color: whitesmoke;
    height: 4vh;
    padding: 0vh 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: clamp(11px, 3vw ,20px);
  }

  .CancelButton {
    background-color: #BA4949;
    color: white;
  }

}