.DisplayContainer {
  background-color: rgba(255, 255, 255, 0.29);
  min-width: 270px;
  width: 50vw;
  height: 30vh;
  border-radius: 10px;

  .DisplayHeader {
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: Arial;
      font-size: clamp(50px, 15vw ,150px);
      color: whitesmoke;
    }
  }

  .DisplayBody {

    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}